// Define variables for your color scheme

// For example:
$beige: #F1E7DD;
$light-grey: #DDCFD0;
$neutral-grey: #C7B4BC;
$purple-grey: #AB97A1;
$light-purple: #876E7F;
$gold: #C3915B;
$strong-purple: #50394B;
$mid-purple: #684C63;
