<div class="container mt-5">
  <div class="cards mb-5">
    <%= simple_form_for @chat do |f| %>
      <button type="submit" class="card-submit-btn">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
          <i class="bi bi-prescription2"></i>
          <span>Find Me Drugs</span>
        </div>
      </button>
    <% end %>
    <%= link_to clinics_path, class: "card-link", aria: { label: "Find a clinic near me" } do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <i class="bi bi-map"></i>
        <span> Find Me A Clinic</span>
      </div>
    <% end %>
    <%= link_to emergency_path, class: "card-link", aria: { label: "Emergency information" } do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <i class="bi bi-exclamation-triangle"></i>
        <span>Emergency</span>
      </div>
    <% end %>
  </div>
  <hr>
  <h3>My Chats</h3>
  <ul class="list-unstyled">
    <% @chats.each do |chat| %>
      <li class="list-item">
        <%# Note: Removed quotes from 'chat.title' so it shows the actual chat title variable %>
        <%= link_to chat.title, chat_path(chat), class: "btn btn-outline-secondary my-1 w-100 text-start" %>
      </li>
    <% end %>
  </ul>
</div>
<!-- Footer -->
<footer class="bg-body-tertiary fixed-bottom text-center">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
