<div class="container text-center py-5">
  <h1 class="display-4 fw-bold">mAi Kusuri</h1>
  <p class="fs-5 fw-light my-4 text-muted">
    Mai-Kun, your 24/7 AI-powered medical assistant, <br>
    dedicated to safeguarding you and your family with intelligent care.
  </p>
  <%= link_to "Start a Chat with Mai-Kun", chats_path, class: "btn btn-secondary btn-lg px-4 shadow-sm" %>
</div>
