<div class="container m-5">
  <%= simple_form_for @chat do |f| %>
    <%= f.submit %>
  <% end %>
</div>
<div class="container">
  <h3>My Chats</h3>
  <p>TODO Add into sidebar, ask TA</p>
  <div class="card"></div>
  <ul class="list">
    <% @chats.each do |chat| %>
      <li class="list-item">
        <%= link_to 'chat.title', chat_path(chat), class: "btn btn-secondary my-1" %>
      </li>
    <% end %>
  </ul>
</div>
</div>
