// app/assets/stylesheets/components/_navbar.scss

.navbar-lewagon {
  background: $purple-grey;
  border-bottom: 1px solid $beige;
  padding: 10px 0;
  .navbar-brand-container,
  .navbar-center-links,
  .navbar-right-container {
    flex: 1; // Ensures perfect centering
  }

  .bi-list, .bi-person-circle {
    color: $strong-purple;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .nav-link {
    &.active {
      color: $strong-purple !important;
      font-weight: bold;
    }
  }
}
